.book-card{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #7b2e00;
    border-radius: 8px;
    width: 300px;
    transition: all 0.5s;
}

.book-card:hover{
    cursor: pointer;
    box-shadow: 2px 12px 15px #999;
    transform: translateY(-4px);
}

.book-tag{
    position: absolute;
    z-index: 1;
    top: -18px;
    left: -20px;
    width: 100px;
    height: 100px;
}

.book-tag img{
    width: 100%;
    height: 100%;
}

.book-image{
    position: relative;
}

.book-image img{
    width: 100%;
    max-height: 340px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px 8px 0px 0px;
    transition: width 0.5s, height 0.5s;
}

.book-image:after {
    content:""; 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#ffe3a6 100%);
    height: 15%;  
  }

.book-content{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.book-content h3{
    margin: 2px 0px;
}

.book-price{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}

.book-price button{
    width: 20%;
    height: 20%;
    font-size: 1.3rem;
}
